In [9]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [6]:
X = pd.read_csv('Final Data.csv')
X=X.drop(columns="SEQN")
X.head(3)

,TELOMEAN,Weight H.BMI,SMQ.SMQ040,SMQ.SMD075,PA.PAQ180,PA.PAQ520,DU.DUQ100,DU.DUQ110,ALQ.ALQ130,Gender and Age.RIAGENDR,Gender and Age.RIDAGEYR
0,6699.341921,20.595703,3,0,1,3,2,0,3,2,20
1,5468.467453,23.010315,3,0,3,3,2,0,4,1,20
2,6414.866675,30.996473,3,0,1,3,2,0,6,2,20

In [7]:
X = X.select_dtypes(include=[object])
X.head(3)

Empty DataFrame
Columns: []
Index: [0, 1, 2]

In [8]:
# 1. INSTANTIATE
# encode labels with value between 0 and n_classes-1.
le = preprocessing.LabelEncoder()


# 2/3. FIT AND TRANSFORM
# use df.apply() to apply le.fit_transform to all columns
X_2 = X.apply(le.fit_transform)
X_2.head()

NameError: name 'preprocessing' is not defined