In [11]:
import xport, csv
import pandas as pd

In [17]:
import MySQLdb

In [14]:
broken_df = pd.read_sas('TELO_A.xpt')

In [21]:
broken_df.to_csv("telo.csv")

In [15]:
broken_df

        SEQN  TELOMEAN    TELOSTD
0      884.0       NaN        NaN
1     2007.0       NaN        NaN
2     6548.0       NaN        NaN
3     2084.0  0.389337   0.027500
4     6445.0  0.433244   0.018915
5     5363.0  0.443293   0.041010
6     8606.0  0.444447   0.046839
7     8468.0  0.449683   0.012891
8     5843.0  0.453036   0.015954
9      963.0  0.465105   0.046373
10    5411.0  0.471356   0.043423
11     626.0  0.476963   0.044137
12    9173.0  0.477485   0.030478
13    9370.0  0.478994   0.019772
14    7290.0  0.485275   0.025741
15    5610.0  0.487743   0.037259
16    3298.0  0.488415   0.187643
17    3753.0  0.497228   0.043125
18    6962.0  0.499164   0.045564
19    7734.0  0.502227   0.152197
20    5553.0  0.502771   0.039333
21      14.0  0.507308   0.028505
22    4721.0  0.507759   0.036008
23    8628.0  0.510832   0.033193
24    3649.0  0.511972   0.030363
25    9731.0  0.515596   0.047895
26    8289.0  0.518340   0.027893
27    7796.0  0.521166   0.020764
28    1141.0  0.524389   0.048850
29    4812.0  0.524818   0.024818
...      ...       ...        ...
3540  3645.0  1.802619   0.083055
3541  5330.0  1.849806   0.048337
3542  2019.0  1.850305   0.097217
3543  3724.0  1.867712   0.063702
3544  8889.0  1.870595   0.083603
3545  1026.0  1.877692   0.066634
3546  1071.0  1.885654   0.059725
3547   344.0  1.891444   0.179228
3548  3943.0  1.896484   1.284204
3549  2923.0  1.908355   0.164640
3550   986.0  1.910986   0.099087
3551  4760.0  1.913919   0.146569
3552   793.0  1.915358   0.099469
3553  8771.0  1.927968   0.260381
3554  8925.0  1.943070   0.070469
3555  4600.0  1.947662   0.113290
3556  5133.0  1.947747   0.231644
3557  6039.0  1.951136   0.075660
3558  5450.0  2.001313   0.113427
3559  7351.0  2.003141   0.124033
3560  6133.0  2.021131   0.102953
3561  8911.0  2.105013   0.230643
3562  8532.0  2.109059   0.105996
3563  6444.0  2.186498   0.101321
3564  8296.0  2.186959   0.089366
3565  8221.0  2.225661   0.096820
3566  9170.0  2.310322   0.105785
3567  9095.0  2.515980   0.174585
3568  7509.0  3.315313   0.158566
3569  1378.0  9.420415  12.174328

[3570 rows x 3 columns]

In [22]:
count=0
with open('TELO_A.xpt', 'rb') as f:
    for row in xport.Reader(f):
        count+=1
print(count)

3570

In [23]:
alcohol_df = pd.read_sas('ALQ.XPT')
alcohol_df.to_csv("alcohol.csv")
alcohol_df.to_ex

In [98]:
alcohol2_df = pd.read_sas('/Users/ekremguzelyel/Desktop/Assignments/CS/Hackathons/SpartaHack/XPT_files/ALQ_B.XPT')
# alcohol2_df.to_csv("alcohol2.csv")

In [9]:
with xport.Reader('TELO_A.XPT') as reader:
    with open('telo_a.csv', 'rb') as out:
        writer = csv.DictWriter(out, [f['name'] for f in reader.fields])
        for row in reader:
            writer.writerow(row)

AttributeError: 'str' object has no attribute 'tell'

alcohol2_df = pd.read_sas('PFQ_B.XPT')
alcohol2_df.to_csv("PFQ_B.csv")

alcohol2_df = pd.read_sas('CIQGAD_B.XPT')
alcohol2_df.to_csv("CIQGAD_B.csv")

alcohol2_df = pd.read_sas('CIQDEP_B.XPT')
alcohol2_df.to_csv("CIQDEP_B.csv")

alcohol2_df = pd.read_sas('CIQPAN_B.XPT')
alcohol2_df.to_csv("CIQPAN_B.csv")

alcohol2_df = pd.read_sas('DUQ_B.XPT')
alcohol2_df.to_csv("DUQ_B.csv")

alcohol2_df = pd.read_sas('PAQ_B.XPT')
alcohol2_df.to_csv("PAQ_B.csv")

alcohol2_df = pd.read_sas('PAQIAF_B.XPT')
alcohol2_df.to_csv("PAQIAF_B.csv")

alcohol2_df = pd.read_sas('SMQ_B.XPT')
alcohol2_df.to_csv("SMQ_B.csv")

alcohol2_df = pd.read_sas('SMQFAM_B.XPT')
alcohol2_df.to_csv("SMQFAM_B.csv")

alcohol2_df = pd.read_sas('SMQMEC_B.XPT')
alcohol2_df.to_csv("SMQMEC_B.csv")

alcohol2_df = pd.read_sas('WHQ_B.XPT')
alcohol2_df.to_csv("WHQ_B.csv")

In [ ]:
physfunc_df = pd.read_sas('PFQ_B.XPT')

alcohol2_df = pd.read_sas('CIQGAD_B.XPT')

alcohol2_df = pd.read_sas('CIQDEP_B.XPT')

alcohol2_df = pd.read_sas('CIQPAN_B.XPT')

alcohol2_df = pd.read_sas('DUQ_B.XPT')

alcohol2_df = pd.read_sas('PAQ_B.XPT')

alcohol2_df = pd.read_sas('PAQIAF_B.XPT')

alcohol2_df = pd.read_sas('SMQ_B.XPT')

alcohol2_df = pd.read_sas('SMQFAM_B.XPT')

alcohol2_df = pd.read_sas('SMQMEC_B.XPT')

alcohol2_df = pd.read_sas('WHQ_B.XPT')

In [45]:
alcohol_df
alc_pruned = alcohol_df.drop(columns=['ALQ130','ALQ140Q','ALQ140U','ALQ150'])
broken_df

        SEQN  TELOMEAN    TELOSTD
0      884.0       NaN        NaN
1     2007.0       NaN        NaN
2     6548.0       NaN        NaN
3     2084.0  0.389337   0.027500
4     6445.0  0.433244   0.018915
5     5363.0  0.443293   0.041010
6     8606.0  0.444447   0.046839
7     8468.0  0.449683   0.012891
8     5843.0  0.453036   0.015954
9      963.0  0.465105   0.046373
10    5411.0  0.471356   0.043423
11     626.0  0.476963   0.044137
12    9173.0  0.477485   0.030478
13    9370.0  0.478994   0.019772
14    7290.0  0.485275   0.025741
15    5610.0  0.487743   0.037259
16    3298.0  0.488415   0.187643
17    3753.0  0.497228   0.043125
18    6962.0  0.499164   0.045564
19    7734.0  0.502227   0.152197
20    5553.0  0.502771   0.039333
21      14.0  0.507308   0.028505
22    4721.0  0.507759   0.036008
23    8628.0  0.510832   0.033193
24    3649.0  0.511972   0.030363
25    9731.0  0.515596   0.047895
26    8289.0  0.518340   0.027893
27    7796.0  0.521166   0.020764
28    1141.0  0.524389   0.048850
29    4812.0  0.524818   0.024818
...      ...       ...        ...
3540  3645.0  1.802619   0.083055
3541  5330.0  1.849806   0.048337
3542  2019.0  1.850305   0.097217
3543  3724.0  1.867712   0.063702
3544  8889.0  1.870595   0.083603
3545  1026.0  1.877692   0.066634
3546  1071.0  1.885654   0.059725
3547   344.0  1.891444   0.179228
3548  3943.0  1.896484   1.284204
3549  2923.0  1.908355   0.164640
3550   986.0  1.910986   0.099087
3551  4760.0  1.913919   0.146569
3552   793.0  1.915358   0.099469
3553  8771.0  1.927968   0.260381
3554  8925.0  1.943070   0.070469
3555  4600.0  1.947662   0.113290
3556  5133.0  1.947747   0.231644
3557  6039.0  1.951136   0.075660
3558  5450.0  2.001313   0.113427
3559  7351.0  2.003141   0.124033
3560  6133.0  2.021131   0.102953
3561  8911.0  2.105013   0.230643
3562  8532.0  2.109059   0.105996
3563  6444.0  2.186498   0.101321
3564  8296.0  2.186959   0.089366
3565  8221.0  2.225661   0.096820
3566  9170.0  2.310322   0.105785
3567  9095.0  2.515980   0.174585
3568  7509.0  3.315313   0.158566
3569  1378.0  9.420415  12.174328

[3570 rows x 3 columns]

In [51]:
pd.merge(broken_df, alc_pruned, how='inner', on='SEQN')

        SEQN  TELOMEAN    TELOSTD  ALQ100  ALQ110       ALQ120Q  ALQ120U
0      884.0       NaN        NaN     1.0     NaN  3.000000e+00      1.0
1     2007.0       NaN        NaN     NaN     NaN           NaN      NaN
2     6548.0       NaN        NaN     1.0     NaN  1.000000e+00      1.0
3     2084.0  0.389337   0.027500     2.0     2.0           NaN      NaN
4     6445.0  0.433244   0.018915     1.0     NaN  2.000000e+00      2.0
5     5363.0  0.443293   0.041010     1.0     NaN  7.000000e+00      1.0
6     8606.0  0.444447   0.046839     1.0     NaN  7.000000e+00      1.0
7     8468.0  0.449683   0.012891     NaN     NaN           NaN      NaN
8     5843.0  0.453036   0.015954     1.0     NaN  5.397605e-79      NaN
9      963.0  0.465105   0.046373     1.0     NaN  5.397605e-79      NaN
10    5411.0  0.471356   0.043423     2.0     1.0  1.000000e+00      2.0
11     626.0  0.476963   0.044137     1.0     NaN  7.000000e+00      1.0
12    9173.0  0.477485   0.030478     1.0     NaN  4.000000e+00      2.0
13    9370.0  0.478994   0.019772     2.0     1.0  5.397605e-79      NaN
14    7290.0  0.485275   0.025741     1.0     NaN  2.000000e+00      1.0
15    5610.0  0.487743   0.037259     1.0     NaN  3.000000e+00      1.0
16    3298.0  0.488415   0.187643     1.0     NaN  1.000000e+00      1.0
17    3753.0  0.497228   0.043125     2.0     2.0           NaN      NaN
18    6962.0  0.499164   0.045564     2.0     2.0           NaN      NaN
19    7734.0  0.502227   0.152197     NaN     NaN           NaN      NaN
20    5553.0  0.502771   0.039333     2.0     2.0           NaN      NaN
21      14.0  0.507308   0.028505     1.0     NaN  1.000000e+00      1.0
22    4721.0  0.507759   0.036008     NaN     NaN           NaN      NaN
23    8628.0  0.510832   0.033193     2.0     2.0           NaN      NaN
24    3649.0  0.511972   0.030363     1.0     NaN  2.000000e+00      2.0
25    9731.0  0.515596   0.047895     1.0     NaN  1.000000e+00      1.0
26    8289.0  0.518340   0.027893     1.0     NaN  1.000000e+00      2.0
27    7796.0  0.521166   0.020764     1.0     NaN  3.000000e+00      3.0
28    1141.0  0.524389   0.048850     1.0     NaN  3.000000e+01      3.0
29    4812.0  0.524818   0.024818     2.0     2.0           NaN      NaN
...      ...       ...        ...     ...     ...           ...      ...
3539  3645.0  1.802619   0.083055     1.0     NaN  1.000000e+00      2.0
3540  5330.0  1.849806   0.048337     NaN     NaN           NaN      NaN
3541  2019.0  1.850305   0.097217     1.0     NaN  1.000000e+00      2.0
3542  3724.0  1.867712   0.063702     1.0     NaN  1.000000e+00      1.0
3543  8889.0  1.870595   0.083603     1.0     NaN  1.000000e+00      2.0
3544  1026.0  1.877692   0.066634     2.0     1.0  1.000000e+00      3.0
3545  1071.0  1.885654   0.059725     2.0     2.0           NaN      NaN
3546   344.0  1.891444   0.179228     1.0     NaN  4.000000e+00      1.0
3547  3943.0  1.896484   1.284204     1.0     NaN  2.000000e+00      1.0
3548  2923.0  1.908355   0.164640     NaN     NaN           NaN      NaN
3549   986.0  1.910986   0.099087     2.0     1.0  5.397605e-79      NaN
3550  4760.0  1.913919   0.146569     1.0     NaN  3.000000e+00      1.0
3551   793.0  1.915358   0.099469     1.0     NaN  2.000000e+00      2.0
3552  8771.0  1.927968   0.260381     1.0     NaN  2.000000e+00      1.0
3553  8925.0  1.943070   0.070469     1.0     NaN  3.000000e+00      1.0
3554  4600.0  1.947662   0.113290     2.0     2.0           NaN      NaN
3555  5133.0  1.947747   0.231644     1.0     NaN  1.000000e+00      1.0
3556  6039.0  1.951136   0.075660     2.0     2.0           NaN      NaN
3557  5450.0  2.001313   0.113427     2.0     1.0  5.397605e-79      NaN
3558  7351.0  2.003141   0.124033     1.0     NaN  4.000000e+00      3.0
3559  6133.0  2.021131   0.102953     1.0     NaN  2.000000e+00      1.0
3560  8911.0  2.105013   0.230643     1.0     NaN  5.397605e-79      NaN
3561  8532.0  2.109059   0.105996     2.0     2.0           NaN      NaN
3562  6444.0  2.186498   0.101321     NaN     NaN           NaN      NaN
3563  8296.0  2.186959   0.089366     1.0     NaN  2.000000e+00      3.0
3564  8221.0  2.225661   0.096820     1.0     NaN  2.000000e+00      1.0
3565  9170.0  2.310322   0.105785     1.0     NaN  1.000000e+00      1.0
3566  9095.0  2.515980   0.174585     1.0     NaN  5.397605e-79      NaN
3567  7509.0  3.315313   0.158566     2.0     2.0           NaN      NaN
3568  1378.0  9.420415  12.174328     1.0     NaN  2.000000e+00      2.0

[3569 rows x 7 columns]

In [60]:
alc_pruned[360:363]

      SEQN  ALQ100  ALQ110  ALQ120Q  ALQ120U
360  884.0     1.0     NaN      3.0      1.0
361  885.0     1.0     NaN    200.0      3.0
362  886.0     2.0     2.0      NaN      NaN

In [77]:
alc_test = alcohol_df.dropna(how='all', axis=0,subset=['ALQ120Q','ALQ120U'])[['ALQ120Q','ALQ120U']].round()
alc_test

      ALQ120Q  ALQ120U
0        24.0      3.0
1         4.0      1.0
3         6.0      3.0
4         2.0      2.0
5         1.0      1.0
6         1.0      1.0
7         4.0      1.0
9         3.0      1.0
10        4.0      1.0
11        4.0      1.0
12        0.0      NaN
13        4.0      1.0
14        1.0      1.0
18       20.0      3.0
19        7.0      1.0
20        1.0      1.0
21        7.0      1.0
22        1.0      2.0
23        0.0      NaN
24        2.0      1.0
25        4.0      1.0
26        0.0      NaN
27        1.0      1.0
29        1.0      3.0
30        3.0      3.0
31        1.0      2.0
32        2.0      1.0
33        0.0      NaN
34        1.0      1.0
35        4.0      2.0
...       ...      ...
4410     10.0      3.0
4412      1.0      3.0
4413      2.0      1.0
4414      0.0      NaN
4415      4.0      1.0
4416      0.0      NaN
4417      7.0      3.0
4418      1.0      1.0
4419      1.0      2.0
4420      3.0      2.0
4421      5.0      3.0
4422      1.0      2.0
4423      4.0      2.0
4424      4.0      2.0
4425      6.0      3.0
4426      7.0      1.0
4427      5.0      1.0
4429      2.0      1.0
4430      0.0      NaN
4431      5.0      3.0
4432      1.0      1.0
4433      1.0      2.0
4434      2.0      2.0
4435      1.0      2.0
4436      2.0      2.0
4437      3.0      1.0
4438      0.0      NaN
4439      0.0      NaN
4440      4.0      3.0
4441      2.0      3.0

[3519 rows x 2 columns]

In [78]:
# alc_test["ALQ120Q"] = 
alc_test.loc[alc_test.ALQ120U == 1, 'Yr_Consmp'] = alc_test.ALQ120Q*52 
alc_test.loc[alc_test.ALQ120U == 2, 'Yr_Consmp'] = alc_test.ALQ120Q*12 
alc_test.loc[alc_test.ALQ120U == 3, 'Yr_Consmp'] = alc_test.ALQ120Q 
alc_test.loc[alc_test.ALQ120U.isna(), 'Yr_Consmp'] = 0 

# df.loc[df.set_of_numbers > 4, 'equal_or_lower_than_4?'] = 'False'

In [81]:
alc_test.mean()

ALQ120Q       4.702472
ALQ120U       1.951339
Yr_Consmp    56.258028
dtype: float64

In [102]:
pd.concat([alcohol_df,alcohol2_df])[["SEQN","ALQ120Q"]].round()
# pd.merge(alcohol_df, alcohol2_df, on='SEQN')

/Users/ekremguzelyel/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  """Entry point for launching an IPython kernel.

         SEQN  ALQ120Q
0         2.0     24.0
1         5.0      4.0
2         7.0      NaN
3        10.0      6.0
4        12.0      2.0
5        13.0      1.0
6        14.0      1.0
7        15.0      4.0
8        16.0      NaN
9        20.0      3.0
10       24.0      4.0
11       25.0      4.0
12       29.0      0.0
13       33.0      4.0
14       34.0      1.0
15       40.0      NaN
16       45.0      NaN
17       46.0      NaN
18       55.0     20.0
19       56.0      7.0
20       57.0      1.0
21       59.0      7.0
22       64.0      1.0
23       66.0      0.0
24       69.0      2.0
25       77.0      4.0
26       80.0      0.0
27       81.0      1.0
28       83.0      NaN
29       86.0      1.0
...       ...      ...
4997  20924.0      0.0
4998  20925.0      NaN
4999  20929.0      5.0
5000  20933.0      0.0
5001  20944.0      NaN
5002  20945.0     15.0
5003  20950.0      NaN
5004  20953.0      7.0
5005  20955.0      NaN
5006  20959.0      0.0
5007  20961.0      3.0
5008  20963.0      7.0
5009  20965.0      1.0
5010  20966.0      NaN
5011  20972.0      2.0
5012  20973.0      0.0
5013  20976.0      NaN
5014  20977.0      0.0
5015  20980.0     14.0
5016  20983.0      7.0
5017  20986.0      5.0
5018  20987.0      NaN
5019  20988.0      8.0
5020  20992.0      2.0
5021  20993.0      3.0
5022  20994.0      4.0
5023  20995.0      2.0
5024  20996.0      0.0
5025  20999.0      NaN
5026  21004.0      4.0

[9471 rows x 2 columns]

In [103]:
demog_df = pd.read_sas('DEMO.XPT')
demog_df.to_csv("demog.csv")

demog_b_df = pd.read_sas('DEMO_B.XPT')
demog_b_df.to_csv("demog_b.csv")

---------------------------------------------------------------
## TOTAL DATA CSV TO PANDAS